.ipynb_checkpoints/*
REACTION_NETWORK (backup before fixing energy).xlsx
REACTION_NETWORK_VENUS_backup_before_fixing_o1d_enthalpy.xlsx
Solar Spectra Scaling.ipynb
VENUSsolarphotonflux_solarmax.dat
VENUSsolarphotonflux_solarmin.dat
python_fitting.ipynb

